<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="20" alt="MDB Logo"
              loading="lazy" />
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-dark">Xu hướng</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">kinh tế</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Công nghệ</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Cộng đồng</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Giới thiệu</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2">Đăng nhập</button>
        <button type="button" class="btn btn-primary">Đăng kí</button>
      </div>
    </header>
  </div>